{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Shares</th>
              <th>Price</th>
              <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <th>{{ stock.symbol }}</th>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price|usd }}</td>
                    <td>{{ (stock.price * stock.total_shares)|usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{ cash|usd }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">Total Value</td>
                <td>{{ total_value|usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
